noproxy=localhost,127.0.0.1,.alm.oraclecorp.com,alm.oraclecorp.com,.oraclecorp.com,.us.oracle.com
registry=https://artifacthub-iad.oci.oraclecorp.com/api/npm/npmjs-registry/
@gbu:registry=https://artifactory.oci.oraclecorp.com/api/npm/giucdsrapidui-dev-npm-local/
@idp:registry=https://artifactory.oci.oraclecorp.com/api/npm/giucdsrapidui-dev-npm-local/
